<div class="container">
  <h2>What is Angular?</h2>
  <p>
    Angular is a JavaScript framework which allows us to build the client-side
    Single Page Applications for mobiles and desktops by using HTML, CSS and a
    programming language like JavaScript or TypeScript.
  </p>

  <h2>What is a framework?</h2>
  <p>
    Framework is a platform to develop software applications. A framework can
    have pre defined classes and methods that can be reusable to add several
    functionalities, which otherwise developer need to write it from the
    scratch.
  </p>

  <h2>What is a Single Page Application (SPA) ?</h2>
  <p>
    A Single Page Application (SPA) is a web application, which has only one
    HTML page which loads onto the browser on application startup and we
    navigate around the web application the content of the HTML page changes.
    The page itself never changes.
  </p>
</div>
