.header {
    width : 100%;
    background-color: #282A35;
    color: #ffffff;
}

mat-button-toggle-group {
    border : 0px !important;
    border-radius: 0px !important;
    margin : 0px !important;
}
mat-button-toggle {
    background-color: #282A35;
    color: #ffffff;
    border : 0px !important;
    border-radius: 0px !important;
}

mat-button-toggle:hover {
    background-color: black;
    color : #ffffff;
}

.mat-button-toggle-appearance-standard.mat-button-toggle-checked, .active {
    background-color: #04AA6D;
    color : #ffffff;
}

mat-button-toggle.active:hover {
    background-color: #04AA6D;
        color: #ffffff;
}